.text-bg-0 {
  background-color: green;
  color: white;
}

.text-bg-1 {
  background-color: orange;
  color: white;
}

.text-bg-2 {
  background-color: blue;
  color: white;
}

.text-bg-3 {
  background-color: yellow;
  color: white;
}

.text-bg-4 {
  background-color: red;
  color: white;
}
